sqlalchemy 
dotenv 
fastapi
python-jose 
pydantic
psycopg2-binary
 

# langchain 
langchain-text-splitters 
langchain-community 
pypdf
chromadb
langchain-core

langchain
transformers==4.41.2
huggingface-hub==0.35.1
langchain-huggingface==1.2.0
